body{
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
}
.panel{
	height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 70px;
	
	background-color: #4e504a;
	font-size: x-large;
	color: #f2f6f7;
	text-align: center;
	
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 50px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	
}
.option{
	padding: 10px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: lightskyblue;
	border-radius: 0%;
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color:#f3f8f9;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
}
.evaluate{

	background-color: rgb(89, 168, 131);
}
.next{
	color: black;
	background-color: #e67b6d;
}
